{% load static %}
<div class="card-body">
  <div class="d-flex flex-wrap align-items-center mb-4">
    <h5 class="card-title me-2">Market Overview</h5>
    <div class="ms-auto">
      <div>
        <button type="button" class="btn btn-soft-primary btn-sm">ALL</button>
        <button type="button" class="btn btn-soft-secondary btn-sm">1M</button>
        <button type="button" class="btn btn-soft-secondary btn-sm">6M</button>
        <button type="button" class="btn btn-soft-secondary btn-sm">1Y</button>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-xl-8">
      <div>
        <div
          id="market-overview"
          data-colors='["--bs-primary", "--bs-success"]'
          class="apex-charts"></div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="p-4">
        <div class="mt-0">
          <div class="d-flex align-items-center">
            <div class="avatar-sm m-auto">
              <span
                class="avatar-title rounded-circle bg-light text-dark font-size-13">
                1
              </span>
            </div>
            <div class="flex-grow-1 ms-3">
              <span class="font-size-14">Mobile Phones</span>
            </div>

            <div class="flex-shrink-0">
              <span
                class="badge rounded-pill bg-success-subtle text-success font-size-12 fw-medium"
                >+5.4%</span
              >
            </div>
          </div>
        </div>

        <div class="mt-3">
          <div class="d-flex align-items-center">
            <div class="avatar-sm m-auto">
              <span
                class="avatar-title rounded-circle bg-light text-dark font-size-13">
                2
              </span>
            </div>
            <div class="flex-grow-1 ms-3">
              <span class="font-size-14">Smart Watch</span>
            </div>

            <div class="flex-shrink-0">
              <span
                class="badge rounded-pill bg-success-subtle text-success font-size-12 fw-medium"
                >+6.8%</span
              >
            </div>
          </div>
        </div>

        <div class="mt-3">
          <div class="d-flex align-items-center">
            <div class="avatar-sm m-auto">
              <span
                class="avatar-title rounded-circle bg-light text-dark font-size-13">
                3
              </span>
            </div>
            <div class="flex-grow-1 ms-3">
              <span class="font-size-14">Protable Acoustics</span>
            </div>

            <div class="flex-shrink-0">
              <span
                class="badge rounded-pill bg-danger-subtle text-danger font-size-12 fw-medium"
                >-4.9%</span
              >
            </div>
          </div>
        </div>

        <div class="mt-3">
          <div class="d-flex align-items-center">
            <div class="avatar-sm m-auto">
              <span
                class="avatar-title rounded-circle bg-light text-dark font-size-13">
                4
              </span>
            </div>
            <div class="flex-grow-1 ms-3">
              <span class="font-size-14">Smart Speakers</span>
            </div>

            <div class="flex-shrink-0">
              <span
                class="badge rounded-pill bg-success-subtle text-success font-size-12 fw-medium"
                >+3.5%</span
              >
            </div>
          </div>
        </div>

        <div class="mt-3">
          <div class="d-flex align-items-center">
            <div class="avatar-sm m-auto">
              <span
                class="avatar-title rounded-circle bg-light text-dark font-size-13">
                5
              </span>
            </div>
            <div class="flex-grow-1 ms-3">
              <span class="font-size-14">Camcorders</span>
            </div>

            <div class="flex-shrink-0">
              <span
                class="badge rounded-pill bg-danger-subtle text-danger font-size-12 fw-medium"
                >-0.3%</span
              >
            </div>
          </div>
        </div>
        <div class="mt-4 pt-2">
          <a href="" class="btn btn-primary w-100"
            >See All Balances <i class="mdi mdi-arrow-right ms-1"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
