<footer id="site-footer" class="site-footer">
    <div class="container">
        <div class="space-90"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 mb-5 mb-md-0">
                <div class="footer-widget">
                    <h5 class="footer-title">Contacts</h5>
                    <div class="footer-contact-info">
                        <span class="number-phone">+ 123-456-7890</span>
                        <span class="number-phone">+ 123-456-7891</span>
                        <div class="space-20"></div>
                        <div class="space-5"></div>
                        <span>Mon - Sun: 10am - 10pm</span>
                        <div class="space-20"></div>
                        <div class="space-2"></div>
                        <span>670 Lafayette Ave, Brooklyn, NY 11216</span>
                        <div class="space-10"></div>
                        <div class="space-5"></div>
                        <div class="space-2"></div>
                        <a class="text-color-primary text-decoration" href="mailto:progrisaas@example.com">progrisaas@example.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="newsletter.php" id="ajax-form" name="ajax-form" method="post" class="mc4wp-form">
                    <div class="mc4wp-form-fields">
                        <div class="main-form">
                            <input id="email" type="email" name="email" placeholder="Enter Your Email" required="">
                            <input type="submit" id="send" value="Subscribe Now">
                            <div class="clear"></div>   
                            <div class="error" id="err-form">There was a problem validating the form please check!</div>
                            <div class="error" id="err-timedout">The connection to the server timed out!</div>
                            <div class="error" id="err-state"></div>
                            <p>
                                <label>
                                    <input name="term" type="checkbox" value="1" checked=""> 
                                    <span>I agree to the Terms, Privacy Policy. You also agree that you’re over 18 years of age.</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </form>
                <div class="clear"></div>
                <div id="ajaxsuccess">Successfully sent!!</div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="space-90"></div>
        <hr class="f1">
        <div class="space-80"></div>
    
        <div class="row">
            <div class="col-lg-6 col-md-8 mb-3 mb-md-0 align-self-center">
                <p class="copyright">Copyright © 2024 Agriknow. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 col-md-4 text-md-right">
                <ul class="ft-menu">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
        <div class="space-40"></div>
    </div>
</footer>