{% load static %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Recent Tasks</h4>

        <div class="table-responsive">
            <table class="table table-nowrap align-middle mb-0">
                <tbody>

                    <tr>
                        <td>
                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);"
                                    class="text-dark">Create a Blog Template UI</a></h5>
                        </td>
                        <td>
                            <div class="avatar-group">
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="assets/images/users/avatar-1.jpg" alt=""
                                            class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="assets/images/users/avatar-2.jpg" alt=""
                                            class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="assets/images/users/avatar-3.jpg" alt=""
                                            class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <div class="avatar-sm">
                                            <span class="avatar-title rounded-circle bg-info text-white font-size-16">
                                                D
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </td>
                        
                    </tr>


                </tbody>
            </table>
        </div>
        <!-- end table responsive -->
    </div>
</div>