{% load static %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Upcoming</h4>
        <div class="table-responsive">
            <table class="table table-nowrap align-middle mb-0">
                <tbody>
                    <tr>
                        <td style="width: 40px;">
                            <div class="form-check font-size-16">
                                <input class="form-check-input" type="checkbox" id="upcomingtaskCheck01">
                                <label class="form-check-label" for="upcomingtaskCheck01"></label>
                            </div>
                        </td>
                        <td>
                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Create a Dason Dashboard UI</a></h5>
                        </td>
                        <td>
                            <p class="ml-4 text-muted mb-0">
                                <i class="mdi mdi-comment-outline align-middle text-muted font-size-16 me-1"></i> 3
                            </p>
                        </td>
                        <td>
                            <p class="ml-4 text-muted mb-0">Product Design</p>
                        </td>
                        
                        <td>
                            <div class="text-center">
                                <span class="badge rounded-pill bg-secondary-subtle text-secondary  font-size-11">Waiting</span>
                            </div>
                        </td>
                        <td>
                            <p class="ml-4 text-muted mb-0">
                                <i class="mdi mdi-file-outline text-muted font-size-16  me-1"></i> 1
                            </p>
                        </td>
                        <td>
                            <div class="avatar-group">
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="{% static 'images/users/avatar-4.jpg' %}" alt="" class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="{% static 'images/users/avatar-5.jpg' %}" alt="" class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-check font-size-16">
                                <input class="form-check-input" type="checkbox" id="upcomingtaskCheck02" checked>
                                <label class="form-check-label" for="upcomingtaskCheck02"></label>
                            </div>
                        </td>
                        <td>
                            <h5 class="text-truncate font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">Create a New Landing UI</a></h5>
                        </td>
                        <td>
                            <p class="ml-4 text-muted mb-0">
                                <i class="mdi mdi-comment-outline align-middle text-muted font-size-16 me-1"></i> 8
                            </p>
                        </td>
                        <td>
                            <p class="ml-4 text-muted mb-0">Web Development</p>
                        </td>
                        
                        <td>
                            <div class="text-center">
                                <span class="badge rounded-pill bg-primary-subtle text-primary  font-size-11">Approved</span>
                            </div>
                        </td>
                        <td>
                            <p class="ml-4 text-muted mb-0">
                                <i class="mdi mdi-file-outline text-muted font-size-16  me-1"></i> 4
                            </p>
                        </td>
                        <td>
                            <div class="avatar-group">
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="assets/images/users/avatar-1.jpg" alt="" class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="assets/images/users/avatar-2.jpg" alt="" class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <div class="avatar-sm">
                                            <span class="avatar-title rounded-circle bg-success text-white font-size-16">
                                                A
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="avatar-group-item">
                                    <a href="javascript: void(0);" class="d-inline-block">
                                        <img src="assets/images/users/avatar-6.jpg" alt="" class="rounded-circle avatar-sm">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                
                    
                </tbody>
            </table>
        </div>
    </div>
</div>