<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Example</h4>
                <p class="card-title-desc">This is an experimental awesome solution for responsive tables with complex data.</p>
            </div>
            <div class="card-body">
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th data-priority="1">Last Trade</th>
                                    <th data-priority="3">Trade Time</th>
                                    <th data-priority="1">Change</th>
                                    <th data-priority="3">Prev Close</th>
                                    <th data-priority="3">Open</th>
                                    <th data-priority="6">Bid</th>
                                    <th data-priority="6">Ask</th>
                                    <th data-priority="6">1y Target Est</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% include 'components/ekstralar/responsive_rows.html' %}
                                {% include 'components/ekstralar/responsive_rows.html' %}
                                {% include 'components/ekstralar/responsive_rows.html' %}
                                {% include 'components/ekstralar/responsive_rows.html' %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->