{% load static %}

<div class="mt-4 pt-2">
  <h5 class="f-18">2 Comments</h5>

  <div class="mt-4 pt-2">
    <div class="comment-section border-bottom pb-4">
      <div class="d-flex">
        <img src="{% static 'images/users/avatar-2.jpg' %}" class="rounded-circle avatar-md" alt="img-missing" />
        <div class="flex-1 ms-4">
          <div class="post-meta float-end">
            <span><i class="mdi mdi-calendar me-2"></i>Feb 13, 2021</span>
          </div>
          <h5 class="font-size-15">Natasha Andrews</h5>
          <p class="text-muted w-75 mb-0">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
        </div>
      </div>
    </div>

    <div class="comment-section pt-4">
      <div class="d-flex">
        <img src="{% static 'images/users/avatar-4.jpg' %}" class="rounded-circle avatar-md" alt="img-missing" />
        <div class="flex-1 ms-4">
          <div class="post-meta float-end">
            <span><i class="mdi mdi-calendar me-2"></i>Feb 13, 2021</span>
          </div>
          <h5 class="font-size-15">Pranav Gamewala</h5>
          <p class="text-muted w-75">Donec non nisl dui. Integer pellentesque nibh mi, elementum pellentesque purus tincidunt ut. Suspendisse venenatis feugiat elit sed risus ornare laoreet.</p>
          <div class="mt-4">
            <a href="" class="btn btn-primary btn-sm"><i class="mdi mdi-reply me-1"></i> Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
