{% load static %}

<div class="d-flex flex-wrap gap-2 font-size-16">
  <a href="#" class="badge bg-primary-subtle text-primary">Photoshop</a>
  <a href="#" class="badge bg-primary-subtle text-primary">illustrator</a>
  <a href="#" class="badge bg-primary-subtle text-primary">HTML</a>
  <a href="#" class="badge bg-primary-subtle text-primary">CSS</a>
  <a href="#" class="badge bg-primary-subtle text-primary">Javascript</a>
  <a href="#" class="badge bg-primary-subtle text-primary">Php</a>
  <a href="#" class="badge bg-primary-subtle text-primary">Python</a>
</div>
